<!DOCTYPE html>
<html lang="en">
<head>
    <title> Welcome </title>
</head>
<body>
    <div style="text-align : center">
        <h1 style="margin: 40px">Welcome again</h1>
        <h3> Happy to Serve You! </h3>

        <button style="background-color: grey">
        <a style="; color: white" href="/users/register">Click to Register</a></button>

        <button style="background-color: grey">
        <a style="; color: white" href="/users/login">Click to Login</button>
        
{{!--         <br><br><br><br>
        <button style="background-color: grey">
        <a style="; color: white" href="/users/dashboard">Click to See Dashboard</a></button> --}}

    </div>

</body>
</html>

